@font-face {
   font-family: 'Чаак';
   font-display: swap;
   src: url('file:///C:/Users/ivi-6/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-12-16_102059/fonts/%D0%A7%D0%B0%D0%B0%D0%BA/font.ttf');
}
